In [91]:
# from geopy.geocoders import Nominatim
from geopy import *
import geopy.distance
import pandas as pd
import numpy as np
import math
import itertools
import re
import Levenshtein

In [61]:
excel = r'2020/transmission.xlsx'
sheet = 'Trans.Investments'

df = pd.read_excel(excel, sheet_name=sheet, header=[1])

# TODO: also contains new substations!

wanted_columns = ['Investment number',
                  'This investment belongs to project number…',
                  'Commissioning Year',
                  'Status ID\n1 : Under Consideration,\n2 : In Planning but not permitting,\n3 : In permitting,\n4 : Under Construction',
                  'Type of Element',
                  'Substation From',
                  'Substation To',
                  'Technology',
                  'Total route length (km)']
status_column = wanted_columns[3]
df[wanted_columns]

,Investment number,This investment belongs to project number…,Commissioning Year,"Status ID\n1 : Under Consideration,\n2 : In Planning but not permitting,\n3 : In permitting,\n4 : Under Construction",Type of Element,Substation From,Substation To,Technology,Total route length (km)
0,2,1,2024,2,ACTransmissionLine,Pedralva (PT),Sobrado (PT),AC,67.00
1,4,1,2022,3,ACTransmissionLine,V.Minho (by Ribeira de Pena),Feira (by Ribeira de Pena),AC,131.00
2,474,1,2021,3,OnshoreSubstation,Ribeira de Pena (PT),-,AC,0.00
3,18,4,2022,3,ACTransmissionLine,Beariz (ES),Fontefria (ES),AC,30.00
4,496,4,2022,3,ACTransmissionLine,Fontefria (ES),Vila Nova de Famalicão (PT) (By Ponte de Lima),AC,140.21
...,...,...,...,...,...,...,...,...,...
316,1747,1077,2036,1,DCTransmissionLine,Thessaloniki,Dubrovo,DC,110.00
317,1748,1077,2036,1,DCTransmissionLine,Dubrovo,Ch. Mogila,DC,170.00
318,1745,1081,2036,1,OffshoreDCTransmissionCable,Tobruk,Arachtos,DC,1070.00
319,1749,1081,2036,1,DCTransmissionLine,Arachtos,Elbasan,DC,180.00
320,1750,1082,2035,1,OffshoreSubstation,New substation connection to 400kV/220kV lines...,Not applicable - offshore connection point at ...,AC,40.00

In [62]:
wanted    = df[wanted_columns]
# only choose those in permitting or under construction
wanted    = wanted.loc[wanted[status_column].astype(int) >= 3]

ac_lines  = wanted.query("`Type of Element` == 'ACTransmissionLine'")
dc_lines  = wanted.query("`Type of Element` == 'DCTransmissionLine'")
on_subst  = wanted.query("`Type of Element` == 'OnshoreSubstation'")
off_subst = wanted.query("`Type of Element` == 'OffshoreSubstation'")

In [63]:
# For the time being, remove lines connected to new substations
new_subst = set(on_subst['Substation From']).union(on_subst['Substation To'])
ac_lines  = ac_lines.query("`Substation From` not in @new_subst")
ac_lines  = ac_lines.query("`Substation To` not in @new_subst")

# Use bus names from buses.csv (v0.1.0)
See https://github.com/PyPSA/pypsa-eur/blob/v0.1.0rc/data/entsoegridkit/buses.csv. Data is from 2017 (newer gridkit extracts do not contain 'tags' with substation names).

In [64]:
buses_file = 'buses_v0.1.0.csv'

# see base_network.py in PyPSA-Eur repository
buses = (pd.read_csv(buses_file, quotechar="'",
                     true_values='t', false_values='f',
                     dtype=dict(bus_id="str"))
        .set_index("bus_id")
        .drop(['station_id'], axis=1)
        .rename(columns=dict(voltage='v_nom')))

In [65]:
no_tags = buses.tags.isnull().sum()
print(f'{no_tags} buses have no tags.')

yes_tags = buses.tags.notnull().sum()
print(f'{yes_tags} buses have tags.')

1238 buses have no tags.
6773 buses have tags.

In [66]:
buses = buses.query('tags.notnull()', engine='python')
buses = buses.query("symbol == 'Substation'")

# Extract 'name_eng' and 'country' from tags in  buses

In [67]:
split_regex = r'("\w+"=>"[^"]*"),' # Form: 'key => value, key => value, ...'

tag_regex   = r'"(?P<key>\w+)"=>"(?P<value>[^"]*)"' # Form: 'key => value'
tag_pattern = re.compile(tag_regex)

rows = []

for index, row in buses.iterrows():
    name    = ''
    country = ''
    x = row['x']
    y = row['y']
    
    tags_string = row['tags']
    
    tags = re.split(split_regex, tags_string)
    
    # Remove whitespaces at front and end, remove None values
    tags = [s.strip() for s in tags]
    tags = list(filter(None, tags))
    
    for tag in tags:
        m = tag_pattern.match(tag)
            
        if m is None:
            print(tag)
            
        # see group names in tag_regex
        key   = m.group('key')
        value = m.group('value')
        
        if key == 'name_eng':
            name = value.strip()
        elif key == 'country':
            country = value.strip()
    
    if name == 'unknown' or not name:
        continue
        
    rows.append((name, country, x, y))

In [68]:
curated_buses = pd.DataFrame.from_records(rows, columns=['name', 'country', 'x', 'y'])

## Remove duplicate rows

In [69]:
curated_buses = curated_buses.loc[~curated_buses.duplicated()]

## There are substations which share the same name but have different coordinates
- large deviation between coordinates => substations are most likely in different countries 
    - BUT: it does occur that different places in the same country get the same name
- small deviation between coordinates => reference to same substation (error in gridextract?)

In [70]:
pypsa_countries = ['AL', 'AT', 'BA', 'BE', 'BG', 'CH', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'ME', 'MK', 'NI', 'NL', 'NO', 'PL', 'PT', 'RO', 'RS', 'SE', 'SI', 'SK']

### List of all duplicates

In [71]:
duplicated = curated_buses.loc[curated_buses.name.duplicated()]
duplicated = duplicated.query("country in @pypsa_countries")

for name in duplicated.name.unique():
    print(name)
    for index, row in curated_buses.query('name == @name').iterrows():
        print(f"({row['x']}, {row['y']}), {row['country']}")
    print('----')

Brindisi /S.
(17.992859, 40.571197), IT
(17.862396, 40.520063), IT
----
Ciudadela
(3.88916, 40.028666), ES
(3.856201, 39.936066), ES
----
E.T.
(-2.918243, 40.5472), ES
(-3.232727, 40.745176), ES
----
Coslada
(-3.16680900000001, 40.375844), ES
(-3.46344, 40.577456), ES
----
Saladas
(-0.722350999999989, 38.404101), ES
(-0.73196400000001, 38.228472), ES
----
Salteras
(-6.004028, 37.474858), ES
(-6.122131, 37.495563), ES
----
Kakanj
(18.110962, 43.977005), BA
(18.157654, 44.057986), BA
----
Trebinje
(18.386993, 42.707669), BA
(18.437805, 42.613749), BA
----
Capljina
(18.014832, 42.872945), BA
(17.668762, 43.133061), BA
----
Zvornik
(18.918457, 44.42005), BA
(19.180756, 44.347422), RS
----
Casellina
(11.12915, 43.79588), IT
(11.217041, 43.72149), IT
----
La Mudarra
(-5.26794399999999, 41.696501), ES
(-5.144348, 41.738528), ES
----
Sidenor
(-3.02810700000001, 43.136068), ES
(-2.89352399999999, 43.088949), ES
----
Miranda
(-2.624359, 42.582411), ES
(-6.31988499999999, 41.536338), PT
----
Santiago
(-8.600922, 42.890052), ES
(-7.18780500000001, 42.331139), ES
----
Grado
(0.166168000000003, 42.152205), ES
(-6.01226799999999, 43.389082), ES
----
Aldeadávila II
(-6.70852699999999, 41.070034), ES
(-6.63711500000001, 41.188989), ES
----
Ţuţora
(27.511139, 47.237287), RO
(27.741852, 47.204642), RO
----
Verbois
(6.11251800000001, 46.06275), FR
(6.019135, 46.174125), CH
----
Orsonville
(2.92098999999999, 48.837605), FR
(2.834473, 48.814099), FR
----
Chaingy
(1.95968600000001, 47.812232), FR
(2.062683, 47.726392), FR
----
Chevire
(-1.620483, 47.126213), FR
(-1.75094599999999, 47.145832), FR
----
St. Peter
(13.08197, 48.25577), AT
(6.790924, 51.094898), DE
----
Witten
(7.13562, 51.412912), DE
(7.27981599999999, 51.406059), DE
----
Ensted
(9.51553299999999, 55.017001), DK
(9.919281, 54.930298), DK
----
Rubió
(1.52298000000001, 41.71803), ES
(1.42135600000001, 41.738528), ES
----

### Same name and country, large deviations

In [72]:
curated_buses.query("name == 'Yuzhnaya'")

          name country          x          y
2720  Yuzhnaya      RU  44.817352  48.155093
3851  Yuzhnaya      RU  50.674438  52.002638
3905  Yuzhnaya      RU  36.268616  51.642737
3927  Yuzhnaya      RU  38.685608  51.843414
5378  Yuzhnaya      RU  59.824677  56.576128

### Same name, different country, large deviation

In [73]:
curated_buses.query("name == 'Saida'")

      name country          x          y
617  Saida      LB  35.400696  33.587167
833  Saida      DZ   0.146942  34.908458

In [74]:
curated_buses.query("name == 'Titan'")

       name country          x          y
1986  Titan      AL  19.786377  41.619549
2825  Titan      UA  33.767853  46.195993
5825  Titan      RU  34.026031  67.451763

## (TODO) Add new substations

In [75]:
on_subst

# extract country if it matches regex
# otherwise, np.NAN

,Investment number,This investment belongs to project number…,Commissioning Year,"Status ID\n1 : Under Consideration,\n2 : In Planning but not permitting,\n3 : In permitting,\n4 : Under Construction",Type of Element,Substation From,Substation To,Technology,Total route length (km)
2,474,1,2021,3,OnshoreSubstation,Ribeira de Pena (PT),-,AC,0.0
6,499,4,2022,3,OnshoreSubstation,Beariz (ES),Beariz (ES),AC,0.0
7,500,4,2022,3,OnshoreSubstation,Ponte de Lima (PT),Ponte de Lima (PT),AC,0.0
58,715,138,2023,4,OnshoreSubstation,Stalpu (RO),Stalpu (RO),AC,0.0
67,701,144,2025,4,OnshoreSubstation,Resita (RO),Resita (RO),AC,0.0
68,705,144,2025,3,OnshoreSubstation,Timisoara (RO),Timisoara (RO),AC,0.0
109,1711,200,2023,4,OnshoreSubstation,Kocin (CZ),NaN,AC,0.0
110,1712,200,2021,4,OnshoreSubstation,Vitkov (CZ),NaN,AC,0.0
122,631,227,2024,3,OnshoreSubstation,Bajina Basta (RS),Bajina Basta (RS),AC,0.0
125,1528,227,2020,4,OnshoreSubstation,SS Kraljevo,SS Kraljevo,AC,0.0
134,1035,230,2021,3,OnshoreSubstation,Baczyna,n.a.,AC,0.0
202,605,297,2019,4,OnshoreSubstation,Lillo (BE),Lillo (BE),AC,0.0
265,1623,350,2020,4,OnshoreSubstation,missing value,missing value,AC,0.0

## Remove '(\<Country Code\>) ' from tyndp substation name strings, add new column instead
Otherwise, this could negatively impact the Levenshtein distance.

In [76]:
subst_regex   = r'(?P<place>.+)\s?[\[(](?P<country>\w{2})[)\]]' # Form: 'Glorenza (IT)'
subst_pattern = re.compile(subst_regex)

# use this if other pattern does not match to remove comments in parentheses
# e.g. 'Molai (through Sklavouna Terminal)'
alt_regex   = r'(?P<place>.+)\s?[\[(].*[)\]]'
alt_pattern = re.compile(alt_regex)

fr_names     = []
fr_countries = []
to_names     = []
to_countries = []

for index, row in ac_lines.iterrows():    
    fr = row['Substation From']
    to = row['Substation To']
    
    # default values if regex does not match
    fr_name = fr
    to_name = to    
    fr_country = np.NAN
    to_country = np.NAN
    
    fr_match = subst_pattern.match(fr)
    to_match = subst_pattern.match(to)
    
    if fr_match:
        fr_name    = fr_match.group('place').strip()
        fr_country = fr_match.group('country').strip()
    else:
        fr_alt_match = alt_pattern.match(fr)
        if fr_alt_match:
            fr_name = fr_alt_match.group('place')
        
    if to_match:
        to_name    = to_match.group('place').strip()
        to_country = to_match.group('country').strip()
    else:        
        to_alt_match = alt_pattern.match(to)
        if to_alt_match:
            to_name = to_alt_match.group('place')
        
    fr_names.append(fr_name)
    fr_countries.append(fr_country)
    to_names.append(to_name)
    to_countries.append(to_country)

In [77]:
ac_lines['Substation From'] = fr_names
ac_lines['Substation To'] = to_names
ac_lines['Country1'] = fr_countries
ac_lines['Country2'] = to_countries
ac_lines

,Investment number,This investment belongs to project number…,Commissioning Year,"Status ID\n1 : Under Consideration,\n2 : In Planning but not permitting,\n3 : In permitting,\n4 : Under Construction",Type of Element,Substation From,Substation To,Technology,Total route length (km),Country1,Country2
1,4,1,2022,3,ACTransmissionLine,V.Minho,Feira,AC,131.00,NaN,NaN
4,496,4,2022,3,ACTransmissionLine,Fontefria,Vila Nova de Famalicão,AC,140.21,ES,PT
9,60,23,2022,4,ACTransmissionLine,Avelin/Mastaing,Horta,AC,80.00,FR,BE
10,614,26,2023,4,ACTransmissionLine,Nauders,Glorenza,AC,26.00,AT,IT
13,90,33,2023,3,ACTransmissionLine,Calenzano,Colunga,AC,80.00,IT,IT
...,...,...,...,...,...,...,...,...,...,...,...
285,1689,1046,2029,3,ACTransmissionLine,Tuomela B,Nuojuankangas,AC,100.00,NaN,NaN
294,1716,1055,2020,4,ACTransmissionLine,Chania I,Molai,AC,179.00,NaN,NaN
303,645,1059,2027,3,ACTransmissionLine,Laino,Altomonte,AC,50.00,IT,IT
304,1727,1059,2030,3,ACTransmissionLine,Montecorvino,Benevento,AC,0.00,IT,IT
307,1731,1063,2022,4,ACTransmissionLine,Borssele,Rilland,AC,40.00,NaN,NaN

In [78]:
ac_lines.loc[~ac_lines['Country1'].isna()].query('Country1 not in @pypsa_countries')

Empty DataFrame
Columns: [Investment number, This investment belongs to project number…, Commissioning Year, Status ID
1 : Under Consideration,
2 : In Planning but not permitting,
3 : In permitting,
4 : Under Construction, Type of Element, Substation From, Substation To, Technology, Total route length (km), Country1, Country2]
Index: []

In [79]:
ac_lines.loc[~ac_lines['Country1'].isna()].query('Country2 not in @pypsa_countries')

,Investment number,This investment belongs to project number…,Commissioning Year,"Status ID\n1 : Under Consideration,\n2 : In Planning but not permitting,\n3 : In permitting,\n4 : Under Construction",Type of Element,Substation From,Substation To,Technology,Total route length (km),Country1,Country2
102,1018,183,2023,3,ACTransmissionLine,Klixbüll,Endrup,AC,92.0,DE,NaN

In [80]:
ac_lines.loc[~ac_lines['Country2'].isna()].query('Country1 not in @pypsa_countries')

Empty DataFrame
Columns: [Investment number, This investment belongs to project number…, Commissioning Year, Status ID
1 : Under Consideration,
2 : In Planning but not permitting,
3 : In permitting,
4 : Under Construction, Type of Element, Substation From, Substation To, Technology, Total route length (km), Country1, Country2]
Index: []

In [81]:
ac_lines.loc[~ac_lines['Country2'].isna()].query('Country2 not in @pypsa_countries')

Empty DataFrame
Columns: [Investment number, This investment belongs to project number…, Commissioning Year, Status ID
1 : Under Consideration,
2 : In Planning but not permitting,
3 : In permitting,
4 : Under Construction, Type of Element, Substation From, Substation To, Technology, Total route length (km), Country1, Country2]
Index: []

## create mapping from all unique tyndp substation names to substation names from 'buses'

In [82]:
tyndp_subs   = set(ac_lines['Substation From']).union(set(ac_lines['Substation To']))
tyndp_to_bus = {}

for tyndp in tyndp_subs:
    buses_subs = curated_buses.name.values
    
    closest = min([(bus, Levenshtein.distance(bus.lower(), tyndp.lower())) for bus in buses_subs], key=lambda t: t[1])[0]
    
    tyndp_to_bus[tyndp] = closest

In [83]:
tyndp_to_bus

{'Ekhyddan': 'Ekudden',
 'Ostroleka': 'Ostrivska',
 'St. Peter': 'St. Peter',
 'Castasegna': 'Castasegna',
 'Rimavska\xa0Sobota': 'Rimavská Sobota',
 'Lillo - Liefkenshoek': 'Los Vientos',
 'Seyring': 'Seraing',
 'ZAULE': 'Gault',
 'Eindhoven': 'Eindhoven',
 'Bisaccia': 'Bisaccia',
 'Seabank': 'Seabank',
 'Laino': 'Laino',
 'Keminmaa': 'Keminmaa',
 'Chamoson': 'Chamoson',
 'Pyhänselkä': 'Pyhänselkä',
 'Baczyna': 'Baczyna',
 'Montecorvino': 'Montecorvino',
 'Audorf': 'Audorf',
 'Mercator': 'Mercator',
 'Fontefria': 'Fontefria',
 'Riga HPP': 'Riga HES',
 'SS Obrenovac': 'Obrenovac',
 'Maritsa East 1': 'Misrata East 1',
 'Varna': 'Varna',
 'Endrup ': 'Endrup',
 'Bassecourt': 'Bassecourt',
 'Zwolle': 'Zwolle',
 'Tauern': 'Tauern',
 'Lietuvos E': 'Lieto',
 'Krajnik': 'Krajnik',
 'Dörpen/West': 'Dörpen/West',
 'Gonyu': 'Konya',
 'Woodland': 'Woodland',
 'Tartu': 'Tartu',
 'Austrian National border': 'Craiova Nord',
 'Bickigen': 'Bickigen',
 'Kassoe': 'Kassø',
 'La Punt': 'La Font',
 'Elbasan': 'Elbistan',
 'Liefkenshoek': 'Lindenholz',
 'Plovdiv': 'Plovdiv',
 'Molai ': 'Mora',
 'Burgas': 'Burgas',
 'Wilhelmshaven': 'Wilhelmshaven',
 'Calenzano': 'Calenzano',
 'Tsirguliina ': 'Tsirguliina',
 'Harku': 'Harku',
 'Ulrichen': 'Krichev',
 'Tuomela B': 'Tudela',
 'Foggia': 'Foggia',
 'Diele': 'Diele',
 'Chippis': 'Chiari',
 'Horta': 'Horta',
 'Darbenai': 'Darna',
 'Vila Nova de Famalicão': 'La Roda de Andalucia',
 'DEKANI': 'Swani',
 'Mese': 'Mese',
 'Gutinas': 'Gutinaş',
 'Meeden': 'Meeden',
 'Wullenstetten': 'Eichstetten',
 'Glorenza': 'Glorenza',
 'Nybro/Hemsjo': 'Brugherio',
 'Geertruidenberg': 'Geertruidenberg',
 'Balti': 'Salt',
 'Conneforde': 'Conneforde',
 'Turleenan': 'Guillena',
 'N.Santa': 'N. Santa',
 'KHAE': 'Ghat',
 'Riga CHP2': 'Riga HES',
 'WURMLACH': 'Surman',
 'Hinkley Point': 'Hinkley Point',
 'Pyhanselka': 'Pyhänselkä',
 'Tsirguliina': 'Tsirguliina',
 'Niederrhein': 'Niederrhein',
 'Neris': 'Neris',
 'Lavorgo': 'Lavorgo',
 'Sajoivanka': 'Sajóivánka',
 'Van Eyck': 'Van Eyck',
 'Smardan': 'Smârdan',
 'Wehrendorf': 'Wehrendorf',
 'SS Lastva': 'Shalati',
 'SOMPLAGO': 'Somplago',
 'Pleinting': 'Pleinting',
 'Nauders': 'Calders',
 'Colunga': 'Colunga',
 'Mikulowa': 'Mikułowa',
 'Tilburg': 'Tilburg',
 'Bitenai': 'Bitėnai',
 'Isar/Altheim/Ottenhofen': 'Ottenhofen',
 'Swiebodzice': 'Świebodzice',
 'Cirkovce': 'Cirkovce',
 'Sindi': 'Sindi',
 'Mecklar': 'Mecklar',
 'SS Bajina Basta': 'Bajina Basta',
 'Beznau': 'Beznau',
 'Stade': 'Stade',
 'Dollern': 'Dollern',
 'Kilingi-Nomme': 'Kilingi-Nomme',
 'Massenhoven': 'Massenhoven',
 'Gabcikovo': 'Gabčíkovo',
 'Bitola': 'Bitola',
 'Villanova': 'Villanova',
 'Krimpen': 'Krimpen',
 'Valmiera': 'Valmiera',
 'Ens': 'Ens',
 'Petajavesi': 'Petäjävesi',
 'Klixbüll': 'Kitwell',
 'Altomonte': 'Altomonte',
 'Mettlen': 'Mettlen',
 'V.Minho ': 'V. Minho',
 'Nuojuankangas': 'Isokangas',
 'SS Pljevlja': 'Pljevlja 1',
 'Prati di Vizze': 'La Riviere',
 'Diemen': 'Diemen',
 'Brunsb\x81üttel': 'Brunsbüttel',
 'Benevento': 'Benevento',
 'Emden/Ost': 'Emden',
 'Heviz (HU) \\ Zerjavinec': 'Žerjavinec',
 'Viru': 'Sirt',
 'REDIPUGLIA': 'Redipuglia',
 'Steinach': 'Stockach',
 'Deliceto': 'Lieto',
 'Messaure ': 'Missour',
 'Wahle': 'Wahle',
 'Pradella': 'Pradella',
 'Keminmaa ': 'Keminmaa',
 'Chania I': 'Chantada',
 'VRTOJBA': 'Taba',
 'Maritsa East 3': 'Misrata East 1',
 'Stanislawow': 'Stanisławów',
 'Vilnius': 'Vilnius',
 'Huutokoski': 'Huutokoski',
 'Rilland': 'Rifland',
 'Maasbracht': 'Maasbracht',
 'Avelin/Mastaing': 'Mastaing',
 'Eemshaven Oude Schip': 'Eemshaven',
 'Zaya': 'Zarya',
 'Vierverlaten': 'Vierverlaten',
 'Mü\x81hleberg': 'Mühleberg',
 'Zandvliet': 'Zandvliet',
 'Ganderkesee': 'Ganderkesee',
 'Feira ': 'Feira',
 'Borssele': 'Borssele'}

### Helper functions: Out of all possible pairs of locations from two lists, get the pair whose distance is closest to the specified (line) length
Deals with problem of multiple places in same country sharing a name.

In [84]:
def extract_coords(rows):
    coordinates = []
    for index, row in rows.iterrows():
        coordinates.append((row['x'], row['y']))
    return coordinates

In [85]:
def match_pair_with_length(s1_rows, s2_rows, length):
    s1_coords = extract_coords(s1_rows)
    s2_coords = extract_coords(s2_rows)
    
    combinations  = list(itertools.product(s1_coords, s2_coords))
    with_distance = [(a, b, geopy.distance.distance(a,b).km) for (a,b) in combinations]
    
    best_match = min(with_distance, key=lambda t: abs(length - t[2]))
    return best_match

In [86]:
# Example
buses_s1 = curated_buses.loc[curated_buses['name'] == 'Yuzhnaya']
buses_s2 = curated_buses.loc[curated_buses['name'] == 'Liteynaya']

best = match_pair_with_length(buses_s1, buses_s2, 430)
best

((38.685608, 51.843414), (35.021667, 53.707275), 439.2404656986871)

# Match start- and endpoints of lines to substations from buses.csv

In [87]:
fr_to_tuples = {}
error_tuples = {}

for index, row in ac_lines.iterrows():    
    # Get closest name match based on Levenshtein distance for start- and endpoints of line
    fr = row['Substation From']
    to = row['Substation To']
    
    fr_country = row['Country1']
    to_country = row['Country2']
            
    s1 = tyndp_to_bus[fr]
    s2 = tyndp_to_bus[to]
    
    # Extract respective rows in buses to determine coordinates
    buses_s1 = curated_buses.loc[curated_buses.name == s1]
    buses_s2 = curated_buses.loc[curated_buses.name == s2]
    
    # If we were able to extract country from name, restrict chosen rows to this country.
    if not pd.isna(fr_country):
        buses_s1 = buses_s1.loc[buses_s1['country'] == fr_country]
    if not pd.isna(to_country):
        buses_s2 = buses_s2.loc[buses_s2['country'] == to_country]
    
    # TODO: use at least one!  
    if buses_s1.empty or buses_s2.empty:
        # print(f'{fr}, {fr_country} <-> {to}, {to_country}')
        tpl = (s1, np.NAN, np.NAN, s2, np.NAN, np.NAN, np.NAN)
        error_tuples[index] = tpl
        continue
    
    # Choose pair which matches length best
    length = row['Total route length (km)']
    (x1, y1), (x2, y2), coord_dist = match_pair_with_length(buses_s1, buses_s2, length)
        
    tpl = (s1, x1, y1, s2, x2, y2, coord_dist)
    
    # TODO: how to choose an appropriate tolerance?
    if not math.isclose(coord_dist, length, rel_tol=0.45):
        error_tuples[index] = tpl
    else:
        fr_to_tuples[index] = tpl

In [88]:
coordinates = pd.DataFrame(index=fr_to_tuples.keys(), data=fr_to_tuples.values(), columns=['s1', 'x1', 'y1', 's2', 'x2', 'y2', 'coord_dist'])

result = ac_lines.copy()
result = result.join(coordinates)

percentage = coordinates.index.size / ac_lines.index.size
print(f'{percentage * 100}% of lines are probably correct.')

print('Lines where we probably found the correct coordinates:')
result.loc[~result.s1.isna()]

51.85185185185185% of lines are probably correct.
Lines where we probably found the correct coordinates:

,Investment number,This investment belongs to project number…,Commissioning Year,"Status ID\n1 : Under Consideration,\n2 : In Planning but not permitting,\n3 : In permitting,\n4 : Under Construction",Type of Element,Substation From,Substation To,Technology,Total route length (km),Country1,Country2,s1,x1,y1,s2,x2,y2,coord_dist
1,4,1,2022,3,ACTransmissionLine,V.Minho,Feira,AC,131.0,NaN,NaN,V. Minho,-7.761841,41.582580,Feira,-8.368835,40.953974,96.475112
9,60,23,2022,4,ACTransmissionLine,Avelin/Mastaing,Horta,AC,80.0,FR,BE,Mastaing,3.353577,50.316531,Horta,3.574677,51.015483,81.423032
13,90,33,2023,3,ACTransmissionLine,Calenzano,Colunga,AC,80.0,IT,IT,Calenzano,11.126404,43.871168,Colunga,11.284332,44.494546,70.285438
19,144,39,2020,4,ACTransmissionLine,Audorf,Kassoe,AC,110.0,DE,DK,Audorf,9.759979,54.305307,Kassø,9.295807,55.074436,98.827047
25,1501,48,2020,4,ACTransmissionLine,Rimavska Sobota,Sajoivanka,AC,48.0,SK,HU,Rimavská Sobota,19.958038,48.379970,Sajóivánka,20.560913,48.263084,67.850755
26,386,62,2020,4,ACTransmissionLine,Kilingi-Nomme,Riga CHP2,AC,205.0,EE,LV,Kilingi-Nomme,25.166931,58.185909,Riga HES,23.832092,56.830944,201.790950
27,735,62,2021,4,ACTransmissionLine,Harku,Sindi,AC,175.0,EE,EE,Harku,24.378662,59.396171,Sindi,24.689026,58.377238,108.818618
29,458,78,2024,3,ACTransmissionLine,Hinkley Point,Seabank,AC,60.0,GB,GB,Hinkley Point,-3.210754,51.135416,Seabank,-2.633972,51.533523,77.631605
39,1488,103,2022,4,ACTransmissionLine,Diemen,Ens,AC,75.0,NaN,NaN,Diemen,5.067444,52.238733,Ens,5.766449,52.653062,89.908740
40,1490,103,2024,3,ACTransmissionLine,Ens,Zwolle,AC,32.0,NaN,NaN,Ens,5.766449,52.653062,Zwolle,6.212769,52.511206,51.795486
41,1539,103,2023,3,ACTransmissionLine,Krimpen,Geertruidenberg,AC,35.0,NaN,NaN,Krimpen,4.652710,51.852746,Geertruidenberg,5.055084,51.661482,49.294423
42,1540,103,2025,3,ACTransmissionLine,Eindhoven,Maasbracht,AC,50.0,NaN,NaN,Eindhoven,5.464325,51.421477,Maasbracht,5.910645,51.179343,56.173758
46,1710,111,2024,3,ACTransmissionLine,Keminmaa,Pyhänselkä,AC,156.0,NaN,NaN,Keminmaa,24.612122,65.877531,Pyhänselkä,26.059570,64.965416,184.775255
52,86,127,2024,3,ACTransmissionLine,Foggia,Villanova,AC,178.0,IT,IT,Foggia,15.637665,41.359288,Villanova,14.028168,42.408249,210.857429
57,275,138,2024,3,ACTransmissionLine,Smardan,Gutinas,AC,140.0,RO,RO,Smârdan,27.913513,45.611156,Gutinaş,26.872559,46.264392,132.209509
59,800,138,2021,4,ACTransmissionLine,Varna,Burgas,AC,86.0,BG,BG,Varna,27.430115,43.405047,Burgas,27.360077,42.575332,82.429509
74,1010,170,2025,3,ACTransmissionLine,Tartu,Valmiera,AC,133.0,NaN,NaN,Tartu,26.559448,58.359953,Valmiera,25.307007,57.530571,161.724975
75,1011,170,2025,3,ACTransmissionLine,Tsirguliina,Valmiera,AC,60.0,NaN,NaN,Tsirguliina,26.004639,57.922871,Valmiera,25.307007,57.530571,86.744425
104,997,187,2028,3,ACTransmissionLine,Pleinting,St. Peter,AC,60.0,DE,AT,Pleinting,13.035278,48.676454,St. Peter,13.081970,48.255770,45.918533
106,742,197,2022,4,ACTransmissionLine,Pyhanselka,Petajavesi,AC,300.0,FI,FI,Pyhänselkä,26.059570,64.965416,Petäjävesi,25.180664,62.261532,288.489841
111,939,207,2023,4,ACTransmissionLine,Conneforde,Emden/Ost,AC,60.0,NaN,NaN,Conneforde,8.121643,53.300518,Emden,7.256470,53.374317,96.028869
112,1684,207,2020,4,ACTransmissionLine,Conneforde,Wilhelmshaven,AC,30.0,DE,DE,Conneforde,8.121643,53.300518,Wilhelmshaven,8.125763,53.520717,24.272364
113,151,208,2023,4,ACTransmissionLine,Wehrendorf,Ganderkesee,AC,95.0,DE,DE,Wehrendorf,8.285065,52.343730,Ganderkesee,8.466339,52.947810,69.488328
114,156,208,2023,4,ACTransmissionLine,Niederrhein,Dörpen/West,AC,182.0,DE,DE,Niederrhein,6.616516,51.629952,Dörpen/West,7.161713,52.847571,147.461640
120,628,227,2024,3,ACTransmissionLine,SS Bajina Basta,SS Obrenovac,AC,109.0,RS,RS,Bajina Basta,19.687500,44.024422,Obrenovac,20.128326,44.590467,76.774648
132,353,230,2021,3,ACTransmissionLine,Krajnik,Baczyna,AC,70.0,PL,PL,Krajnik,14.441528,53.164887,Baczyna,15.021057,52.686373,82.260751
133,355,230,2024,3,ACTransmissionLine,Mikulowa,Swiebodzice,AC,100.0,PL,PL,Mikułowa,15.088348,51.069017,Świebodzice,16.365509,50.815480,143.914062
150,1246,245,2021,4,ACTransmissionLine,Meeden,Diele,AC,27.0,NL,DE,Meeden,6.976318,53.011478,Diele,7.375946,53.057723,44.489698
152,1384,250,2024,3,ACTransmissionLine,Castasegna,Mese,AC,14.0,NaN,NaN,Castasegna,9.504547,46.358302,Mese,9.347992,46.250149,20.998055
154,1456,252,2024,3,ACTransmissionLine,Massenhoven,Van Eyck,AC,90.0,BE,BE,Massenhoven,4.604645,51.208604,Van Eyck,5.717010,51.093173,123.672931
168,1259,264,2029,3,ACTransmissionLine,Beznau,Mettlen,AC,64.0,NaN,NaN,Beznau,8.269958,47.480088,Mettlen,8.298798,47.148634,36.653852
170,1287,264,2027,3,ACTransmissionLine,Bassecourt,Mühleberg,AC,45.4,NaN,NaN,Bassecourt,7.191925,47.363944,Mühleberg,7.223511,47.007416,39.531599
174,1286,266,2029,3,ACTransmissionLine,Chippis,Lavorgo,AC,124.0,NaN,NaN,Chiari,9.857483,45.615959,Lavorgo,8.797302,46.400935,145.554613
205,1472,312,2025,4,ACTransmissionLine,St. Peter,Tauern,AC,128.0,NaN,NaN,St. Peter,13.081970,48.255770,Tauern,12.671356,47.342545,109.032907
206,1473,313,2024,3,ACTransmissionLine,Isar/Altheim/Ottenhofen,St. Peter,AC,90.0,DE,AT,Ottenhofen,11.825409,48.314255,St. Peter,13.081970,48.255770,139.153617
207,1558,320,2021,4,ACTransmissionLine,Cirkovce,Heviz (HU) \ Zerjavinec,AC,80.0,SI,HR,Cirkovce,15.553894,46.274834,Žerjavinec,16.369629,45.848891,101.131250
247,1544,346,2029,3,ACTransmissionLine,Rilland,Tilburg,AC,80.0,NaN,NaN,Rifland,4.551086,51.602666,Tilburg,5.207520,51.571949,72.669908
248,1546,348,2023,4,ACTransmissionLine,Eemshaven Oude Schip,Vierverlaten,AC,40.0,NaN,NaN,Eemshaven,6.811523,53.346452,Vierverlaten,6.492920,53.144299,41.726446
282,1685,1043,2021,4,ACTransmissionLine,Dollern,Stade,AC,14.0,DE,DE,Dollern,9.516907,53.415262,Stade,9.349365,53.568861,25.058934
283,1686,1043,2024,4,ACTransmissionLine,Wahle,Mecklar,AC,210.0,DE,DE,Wahle,10.453491,52.258071,Mecklar,9.621277,50.859710,178.809584
284,1688,1046,2028,3,ACTransmissionLine,Nuojuankangas,Huutokoski,AC,290.0,NaN,NaN,Isokangas,25.694275,65.279688,Huutokoski,27.766571,62.262171,377.925106
303,645,1059,2027,3,ACTransmissionLine,Laino,Altomonte,AC,50.0,IT,IT,Laino,15.948029,40.078071,Altomonte,16.020813,39.778991,33.011910

In [89]:
error_lines = result.loc[result.s1.isna()]
error_subst = set(error_lines['Substation From']).union(error_lines['Substation To'])

print('')
{(k,tyndp_to_bus[k]) for k in error_subst}

{('Austrian National border', 'Craiova Nord'),
 ('Balti', 'Salt'),
 ('Benevento', 'Benevento'),
 ('Bickigen', 'Bickigen'),
 ('Bisaccia', 'Bisaccia'),
 ('Bitenai', 'Bitėnai'),
 ('Bitola', 'Bitola'),
 ('Borssele', 'Borssele'),
 ('Brunsb\x81üttel', 'Brunsbüttel'),
 ('Burgas', 'Burgas'),
 ('Chamoson', 'Chamoson'),
 ('Chania I', 'Chantada'),
 ('Chippis', 'Chiari'),
 ('DEKANI', 'Swani'),
 ('Darbenai', 'Darna'),
 ('Deliceto', 'Lieto'),
 ('Ekhyddan', 'Ekudden'),
 ('Elbasan', 'Elbistan'),
 ('Endrup ', 'Endrup'),
 ('Fontefria', 'Fontefria'),
 ('Gabcikovo', 'Gabčíkovo'),
 ('Glorenza', 'Glorenza'),
 ('Gonyu', 'Konya'),
 ('KHAE', 'Ghat'),
 ('Keminmaa ', 'Keminmaa'),
 ('Klixbüll', 'Kitwell'),
 ('La Punt', 'La Font'),
 ('Liefkenshoek', 'Lindenholz'),
 ('Lietuvos E', 'Lieto'),
 ('Lillo - Liefkenshoek', 'Los Vientos'),
 ('Maritsa East 1', 'Misrata East 1'),
 ('Maritsa East 3', 'Misrata East 1'),
 ('Mercator', 'Mercator'),
 ('Messaure ', 'Missour'),
 ('Mettlen', 'Mettlen'),
 ('Molai ', 'Mora'),
 ('Montecorvino', 'Montecorvino'),
 ('N.Santa', 'N. Santa'),
 ('Nauders', 'Calders'),
 ('Neris', 'Neris'),
 ('Nuojuankangas', 'Isokangas'),
 ('Nybro/Hemsjo', 'Brugherio'),
 ('Ostroleka', 'Ostrivska'),
 ('Plovdiv', 'Plovdiv'),
 ('Pradella', 'Pradella'),
 ('Prati di Vizze', 'La Riviere'),
 ('REDIPUGLIA', 'Redipuglia'),
 ('Riga CHP2', 'Riga HES'),
 ('Riga HPP', 'Riga HES'),
 ('Rilland', 'Rifland'),
 ('SOMPLAGO', 'Somplago'),
 ('SS Lastva', 'Shalati'),
 ('SS Pljevlja', 'Pljevlja 1'),
 ('Seyring', 'Seraing'),
 ('Stanislawow', 'Stanisławów'),
 ('Steinach', 'Stockach'),
 ('Tartu', 'Tartu'),
 ('Tsirguliina ', 'Tsirguliina'),
 ('Tuomela B', 'Tudela'),
 ('Turleenan', 'Guillena'),
 ('Ulrichen', 'Krichev'),
 ('VRTOJBA', 'Taba'),
 ('Vila Nova de Famalicão', 'La Roda de Andalucia'),
 ('Vilnius', 'Vilnius'),
 ('Viru', 'Sirt'),
 ('WURMLACH', 'Surman'),
 ('Woodland', 'Woodland'),
 ('Wullenstetten', 'Eichstetten'),
 ('ZAULE', 'Gault'),
 ('Zandvliet', 'Zandvliet'),
 ('Zaya', 'Zarya')}

# Determine coordinates using geopy

In [114]:
# locator = Nominatim(user_agent='esm_group')
# geocode = RateLimiter(locator.geocode, min_delay_seconds=0.01)
locator = AlgoliaPlaces(user_agent='esm_group')
geocode = locator.geocode

In [113]:
fr_to_tuples_geopy = {}
error_tuples_geopy = {}

for index, row in error_lines.iterrows():
    fr   = row['Substation From']
    to   = row['Substation To']
    dist = row['Total route length (km)']

    fr_country = row['Country1']
    to_country = row['Country2']

    # TODO: is it possible to get several matching locations?
    fr_loc = geocode(fr) if pd.isna(fr_country) else geocode(fr, country=fr_country)
    to_loc = geocode(to) if pd.isna(to_country) else geocode(to, country=to_country)
    
    if fr_loc is None or to_loc is None:
        tpl = (fr, np.NAN, np.NAN, to, np.NAN, np.NAN, np.NAN)
        error_tuples[index] = tpl
        continue
        
    (x1, y1)  = fr_loc.latitude, fr_loc.longitude
    (x2, y2)  = to_loc.latitude, to_loc.longitude
    coord_dist = distance.distance(fr_coords, to_coords).km

    tpl = (fr, x1, y1, to, x2, y2, coord_dist)

    if not math.isclose(coord_dist, dist, rel_tol=0.45):
        error_tuples_geopy[index] = tpl
    else:
        fr_to_tuples_geopy[index] = tpl

TypeError: geocode() got an unexpected keyword argument 'country'

In [106]:
len(x1), len(error_rows)

(11, 28)

In [107]:
error_rows

[[array([496, 4, '2022', 3, 'ACTransmissionLine', 'Fontefria',
         'Vila Nova de Famalicão', 'AC', 140.21, 'ES', 'PT', nan, nan, nan,
         nan, nan, nan, nan], dtype=object)],
 [array([614, 26, '2023', 4, 'ACTransmissionLine', 'Nauders', 'Glorenza',
         'AC', 26.0, 'AT', 'IT', nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1500, 48, '2020', 4, 'ACTransmissionLine', 'Gabcikovo', 'Gonyu',
         'AC', 110.0, 'SK', 'HU', nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1062, 62, '2020', 4, 'ACTransmissionLine', 'Riga CHP2', 'Riga HPP',
         'AC', 15.0, 'LV', 'LV', nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([462, 81, '2023', 3, 'ACTransmissionLine', 'Woodland', 'Turleenan',
         'AC', 138.0, 'IE', 'NI', nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([373, 123, '2023', 4, 'ACTransmissionLine', 'Ostroleka',
         'Stanislawow', 'AC', 108.0, 'PL', 'PL', nan, nan, nan, nan, nan,
         nan, nan], dtype=object)],
 [array([733, 124, '2026', 3, 'ACTransmissionLine', 'Ekhyddan',
         'Nybro/Hemsjo', 'AC', 160.0, 'SE', 'SE', nan, nan, nan, nan, nan,
         nan, nan], dtype=object)],
 [array([96, 127, '2021', 4, 'ACTransmissionLine', 'Deliceto', 'Bisaccia',
         'AC', 30.0, 'IT', 'IT', nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([256, 142, '2023', 3, 'ACTransmissionLine', 'Maritsa East 1',
         'N.Santa', 'AC', 151.0, 'BG', 'GR', nan, nan, nan, nan, nan, nan,
         nan], dtype=object)],
 [array([257, 142, '2022', 3, 'ACTransmissionLine', 'Maritsa East 1',
         'Plovdiv', 'AC', 94.0, 'BG', 'BG', nan, nan, nan, nan, nan, nan,
         nan], dtype=object)],
 [array([258, 142, '2021', 4, 'ACTransmissionLine', 'Maritsa East 1',
         'Maritsa East 3', 'AC', 13.0, 'BG', 'BG', nan, nan, nan, nan, nan,
         nan, nan], dtype=object)],
 [array([262, 142, '2021', 4, 'ACTransmissionLine', 'Maritsa East 1',
         'Burgas', 'AC', 150.0, 'BG', 'BG', nan, nan, nan, nan, nan, nan,
         nan], dtype=object)],
 [array([382, 170, '2025', 3, 'ACTransmissionLine', 'Vilnius', 'Neris',
         'AC', 80.0, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1012, 170, '2023', 3, 'ACTransmissionLine', 'Balti', 'Tartu', 'AC',
         168.0, nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object)],
 [array([1013, 170, '2025', 3, 'ACTransmissionLine', 'Viru', 'Tsirguliina ',
         'AC', 243.0, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1565, 170, '2020', 6, 'ACTransmissionLine', 'Lietuvos E',
         'Vilnius', 'AC', 41.0, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1634, 170, '2025', 3, 'ACTransmissionLine', 'Bitenai', 'KHAE',
         'AC', 234.0, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([886, 186, '2022', 4, 'ACTransmissionLine', 'Seyring', 'Zaya', 'AC',
         60.0, nan, nan, nan, nan, nan, nan, nan, nan, nan], dtype=object)],
 [array([667, 258, '2022', 4, 'ACTransmissionLine', 'Brunsb\x81üttel',
         'Klixbüll', 'AC', 125.0, 'DE', 'DE', nan, nan, nan, nan, nan, nan,
         nan], dtype=object)],
 [array([1284, 264, '2022', 4, 'ACTransmissionLine', 'Pradella', 'La Punt',
         'AC', 49.0, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1733, 266, '2027', 3, 'ACTransmissionLine', 'Bickigen', 'Chippis',
         'AC', 106.6, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([445, 297, '2020', 4, 'ACTransmissionLine', 'Zandvliet',
         'Lillo - Liefkenshoek', 'AC', 18.0, nan, nan, nan, nan, nan, nan,
         nan, nan, nan], dtype=object)],
 [array([604, 297, '2025', 3, 'ACTransmissionLine', 'Liefkenshoek',
         'Mercator', 'AC', 19.0, 'BE', 'BE', nan, nan, nan, nan, nan, nan,
         nan], dtype=object)],
 [array([1476, 322, '2025', 3, 'ACTransmissionLine', 'Wullenstetten',
         'Austrian National border', 'AC', 95.0, 'DE', 'AT', nan, nan, nan,
         nan, nan, nan, nan], dtype=object)],
 [array([1478, 323, '2025', 3, 'ACTransmissionLine', 'DEKANI', 'ZAULE',
         'AC', 11.0, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1482, 324, '2023', 3, 'ACTransmissionLine', 'REDIPUGLIA',
         'VRTOJBA', 'AC', 22.5, nan, nan, nan, nan, nan, nan, nan, nan, nan],
        dtype=object)],
 [array([1556, 336, '2023', 4, 'ACTransmissionLine', 'Prati di Vizze',
         'Steinach', 'AC', 139.0, 'IT', 'AT', nan, nan, nan, nan, nan, nan,
         nan], dtype=object)],
 [array([1689, 1046, '2029', 3, 'ACTransmissionLine', 'Tuomela B',
         'Nuojuankangas', 'AC', 100.0, nan, nan, nan, nan, nan, nan, nan,
         nan, nan], dtype=object)]]